@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@charset "utf-8";
 /*Elaborado por Joselynne Fernandez Mejorada 
fecha: 17 de febrero de 2025*/ 
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header, nav, footer,main{
  width: 100%;
  background-color:#8668a0;
  color:#fcfcfc;
  padding: 30px;
  margin-left: auto;
  margin-right: auto; 
}
header, footer{
    text-align: center;
    }
nav{
   height:auto;
   background-color: #d894c8;
}
nav ul{
text-align: center;
}
nav ul li{
width: 9%; 
 min-width: 120px; 
 list-style-type: none; 
 background-color: #d9c3e5; 
 color:#ffffff; 
 display: inline-block; 
 margin-left: 10px; 
 margin-left: 10px; 
 padding: 20px; 
 text-align: center; 
 border-radius: 20px; 
 margin-top: 20px; 
 margin-bottom: 20px; 
font-family: "Roboto", sans-serif;
}
nav ul li a:link,nav ul li a:visited{
color:#862ca7;
text-decoration: none;
}
nav ul li a:hover{
color:#eb2fa3;
}
nav ul li:hover{
background-color: #b6e6e6;
width:95px;
font-size: 18px;
}
main{
height: auto;
background-color: #ede6f4;
}
section{
width: 80%;
  height: auto;
  background-color: #a07fbc;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  font-size: 12pt;'' 
}
h2, p{
margin-bottom: 20px;
    text-align: justify;
}
h2{
color:aliceblue;
}
header h1{
 font-family: "Sigmar One", sans-serif;
  font-weight: 400;
  font-style: normal;
    letter-spacing: 5px;
}
section h2{
    font-size:18pt;
    font-family: "Roboto", sans-serif;
    font-style:normal;
    font-weight: bold;
}
section p{
    font-family: "Roboto", sans-serif;
}
#table1{
width:80%;
margin-left: auto;
margin-right: auto;
}
#tabla_1{ 
 width:80%; 
 margin-left: auto; 
 margin-right: auto; 
 
 
} 
#tabla_1 th, #tabla_1 td, #tabla_2 th, #tabla_2 td, 
#T3 th, #T3 td{ 
 padding-left: 15px; 
 padding-right: 15px; 
 padding-top: 6px; 
 padding-bottom: 6px; 
} 
#tabla_1 th, #tabla_2 th, #T3 th{ 
 background-color:#D17D98; 
 
} 
#tabla_1 td{ 
 background-color:#EFE9D5; 
} 
#tabla_2{ 
 width: 100%; 
 /* border-style: solid; 
 border-color: crimson;*/ 
 border: 2px solid crimson; 
 color: white; 
 border-spacing: 10px; 
 border-collapse: collapse;
 
} 
#tabla_ th, #tabla_2 td{ 
 border: 2px solid crimson; 
} 
#tabla_2 tbody tr:nth-child(even){ 
 background-color: #71BBB2; 
    border: 2px solid crimson;
} 
#tabla_2 tbody tr:nth-child(odd){ 
 background-color: #27445D; 
    border: 2px solid crimson;
}
#tabla_3{
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: blueviolet;
}
#tabla_3 td{
    height: 50px;
    padding-left: 10px;
}
#tabla_3 tr:hover{
    background-color: #f56fe6;
    color: azure;
}
#tabla_3 th, #tabla_3 td{
    border-style: solid;
    border-color: azure;
    border:5px;*/
    border: 5px solid azure;
}
h1,h6{
text-align: center;
font-size: 48px;
}
h6{
font-size: 18px;
}

}
img{
    width: 100px;
}
.imagenes_box{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.imagen_flotante_izq{
    width: 20%;
    float: left;
    margin-right: 20px;
}
.imagen_flotante_der{
    width: 20%;
    float: right;
    margin-left: 20px;
}
.fondo{
    background-image:url(imagenes/fondo2.jpg);
    background-size:cover; 
}  
.imagen_enlace{
    width: 64px;
    height: auto;
    display:block;
    margin: auto;
}
.img-borde-redondo{
    border-radius: 50%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.section_filtros{
    text-align: center;
}
.section_filtros img{
    width: 25%;
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
form{
    width: 50%;
    height: auto;
    padding: 20px;
    background-color: #d9c3e5;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    
}
label{
    color: blueviolet;
    font-weight: bold;
    margin-bottom: 30px;
}
input[type=text], input[type=password], textarea, selec, input[type="date"]{
    width: 100%;
    padding: 9px;
    background-color: azure;
    color: blueviolet;
    border: 3px solid #930b93;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    resize: none; /
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
}
input[type=submit]{
    width: 20%;
    padding: 9px;
    background-color: azure;
    color: blueviolet;
    border: 3px solid #930b93;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    resize: none;
}
input[type="number"]{
            width: 20%;
            padding: 8px;
            margin-left: 10px;
            margin-right: auto;
            background-color: azure;
            color: blueviolet;
            border: 3px solid #930b93;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 16px;
            transition: border-color 0.3s ease;
            appearance: textfield;
        }
input[list="browsers"], select[id="pais"]{
            width: 40%;
            margin-left: 10px;
            margin-right: auto;
            padding: 9px;
            background-color: azure;
            color: blueviolet;
            border: 3px solid #930b93;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 16px;
            transition: border-color 0.3s ease;
            appearance: textfield;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus, input[type="number"]:focus, selec:focus, input[type="date"]:focus, input[list="browsers"]:focus, select[id="pais"]:focus{
    color: #250545;
    background-color: #ebb7d3;
    border: 3px solid #b1054e;
}
input[type="range"] {
            -webkit-appearance: none;
            width: 300px;
            height: 8px;
            background: azure;
            border-radius: 5px;
            outline: none;
            transition: background 0.3s ease;
        }
        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 22px;
            height: 22px;
            background-color: #9469bf;
            border-radius: 50%;
            cursor: pointer;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            transition: background 0.3s ease;
        }

        input[type="range"]::-webkit-slider-thumb:hover {
            background-color: #8e47d0;
            transform: scale(1.1);
        }
.imagen_joss{
    width: 20%;
    float: right;
    margin-left: 40px;
    margin-bottom: 40px;
    border-radius: 15px;
    filter: drop-shadow(5px 5px #501a50)
}
.imagen_casa{
   width: 5%; 
 min-width: 35px; 
 list-style-type: none; 
 background-color: #d9c3e5; 
 color:#ffffff; 
 display: inline-block; 
 margin-left: 10px; 
 margin-left: 10px; 
 padding: 20px; 
 text-align: center; 
 border-radius: 20px; 
 margin-top: 5px; 
 margin-bottom: 5px; 
}
.imagen_casa:hover{
    width: 6%; 
    background-color: #c474dd;
}
.redes_sociales{
    width: 10%; 
    min-width: 100px;
    border-radius: 15px;
     margin-left: 10px;
    margin-right: 10px;
    display: inline-block;  
}
.redes_sociales:hover {
    width: 11%; 
    transform: translateY(-3px); 
    filter: drop-shadow(5px 5px #501a50)
}
.caja_redes{
    text-align: center;
}
